dataset: 'scannet++'
coarse: True
low_gpu_mem: True
meshing:
  confidence_threshold: 0.4 
  eval_rec: True
  resolution: 256 # change to 512 for higher resolution geometry
tracking:
  vis_freq: 10
  vis_inside_freq: 25
  ignore_edge_W: 20
  ignore_edge_H: 20
  seperate_LR: False
  const_speed_assumption: True
  lr: 0.0005
  gt_camera: True
  pixels: 5000
  iters: 50
Segmenter:
  full_slam: True
  mask_generator: False # always False -> delete later
  #store: False    #if use_store True then store and store_vis have no effect
  use_stored: False
  store_vis: True
  store_vis_freq: 50 # not implemented yet
  num_clusters: 5
  border: 0
  overlap: 0.4 # makes more stable
  relevant: 0.3
  merging_parameter: 7 # if it really is the same object, then it should not have any problems eating the other mask even if for 10 frames
  every_frame: 1
  verbose: False
  hit_percent: 0.4
  samplePixelFarther: 20 # Erosion, distance to the next mask
  normalizePointNumber: 10 # pointsperInstance/normalizePointNumber*normalizePointNumber
  depthCondition: 0.1 # for depthcheck

rendering:
  semantic_occupancy_multiplier: 10

# TODO 
mapping:
  max_frames: 200
  first_min_area: 2000
  use_vis: True
  no_vis_on_first_frame: True
  every_frame: 1 # 2
  points_per_instance: 4
  vis_freq: 1000
  vis_inside_freq: 1600
  vis_offset: 0 #we take the current frame - vis_offset for visualization #should not work at the moment
  use_mesh: True #whether to generate mesh during training, the creation of thefinal mesh only depends ecal_rec
  no_mesh_on_first_frame: True
  mesh_freq: 50
  ckpt_freq: 50
  keyframe_every: 5
  mapping_window_size: 10
  pixels: 5000
  iters_first: 1500 #finetune
  iters: 60 #finetune
  w_color_loss: 0.2 #maybe finetune
  w_semantic_loss: 10 #finetune
  middle_iter_ratio: 0.4 #0.4 #finetune
  fine_iter_ratio: 0.6 #0.6 #finetune
  semantic_iter_ratio: 1 #0.4 #finetune
  stage:
    color: #maybe finetune, because our color results are not as good as in the original paper
      decoders_lr: 0.005
      coarse_lr: 0.0
      middle_lr: 0.005
      fine_lr: 0.005
      color_lr: 0.005
      semantic_lr: 0.0
    semantic: #finetune
      decoders_lr: 0.005
      coarse_lr: 0.0
      middle_lr: 0.0
      fine_lr: 0.0
      color_lr: 0.0
      semantic_lr: 0.4 #original: 0.005

cam:
  H: 480 #480 # 720
  W: 640 #680 920
  fx: 476.333 #480
  fy: 476.333 #480
  cx: 318 # 318
  cy: 240 #  240
  png_depth_scale: 1000
#  H: 480 #480 # 720
#  W: 640 #680 920
#  fx: 476.333 #480
#  fy: 476.333 #480
#  cx: 318 # 318
#  cy: 240 #  240


  #crop_edge: 20
  # changed
  #crop_size_: [640,480]
#  poseScale: 1 # pose scale for the camera translation changed 0.5 because of depth scaling
  #crop_edge: 0
  #distortion: [0.062969, -0.0762557 ,-4.23266e-05, 0.000114417]

  #crop_size: [480,640]
#parames2finetune: ['mapping', ]
# TODO run AUTO with K and print also traj print