inherit_from: configs/TUM_RGBD/tum.yaml
mapping:
  bound: [[-4.96930981,  5.54755211],
       [-3.98643184,  0.55671239],
       [ 0.49400002,  9.75700092]]
  marching_cubes_bound: [[-4.96930981,  5.54755211],
       [-3.98643184,  0.55671239],
       [ 0.49400002,  9.75700092]]
  every_frame: 10
  keyframe_every: 100
data:
  input_folder: Datasets/TUM_RGBD/rgbd_dataset_freiburg2_pioneer_slam2
  output: output/TUM_RGBD/rgbd_dataset_freiburg2_pioneer_slam2
  logs: logs/TUM_RGBD/freiburg2_pioneer_slam2
cam:  #intrinsic is different per scene in TUM
  H: 480 
  W: 640 
  fx: 520.9
  fy: 521.0
  cx: 325.1
  cy: 249.7
  crop_edge: 8
  crop_size: [384,512]
  distortion: [0.2312, -0.7849, -0.0033, -0.0001, 0.9172]
output_dimension_semantic: 500  
Segmenter:
  every_frame: 20
