inherit_from: configs/TUM_RGBD/tum.yaml
mapping:
  #bound: [[-3.0662,  2.9285],[-2.8727,  2.0000],[-2.0786,  3.5022]]
  #marching_cubes_bound: [[-3.0662,  2.9285],[-2.8727,  2.0000],[-2.0786,  3.5022]]
  bound: [[-5.34311962,  5.19444132],
       [-3.96784711,  1.23787618],
       [ 0.35800001,  9.75700092]]
  marching_cubes_bound: [[-5.34311962,  5.19444132],
       [-3.96784711,  1.23787618],
       [ 0.35800001,  9.75700092]]
  every_frame: 10
  keyframe_every: 100
data:
  input_folder: Datasets/TUM_RGBD/rgbd_dataset_freiburg2_coke
  output: output/TUM_RGBD/rgbd_dataset_freiburg2_coke
  logs: logs/TUM_RGBD/freiburg2_coke
cam:  #intrinsic is different per scene in TUM
  H: 480 
  W: 640 
  fx: 520.9
  fy: 521.0
  cx: 325.1
  cy: 249.7
  crop_edge: 8
  crop_size: [384,512]
  distortion: [0.2312, -0.7849, -0.0033, -0.0001, 0.9172]
output_dimension_semantic: 500  
Segmenter:
  every_frame: 20
