inherit_from: configs/TUM_RGBD/tum.yaml
mapping:
  bound: [[-5.1605,  4.3425],
        [-2.0112,  2.5654],
        [-6.8971,  2.0699]]
  marching_cubes_bound: [[-5.1605,  4.3425],
        [-2.0112,  2.5654],
        [-6.8971,  2.0699]]
  every_frame: 10
  keyframe_every: 100
data:
  input_folder: Datasets/TUM_RGBD/rgbd_dataset_freiburg2_pioneer_slam2
  output: output/TUM_RGBD/rgbd_dataset_freiburg2_pioneer_slam2
  logs: logs/TUM_RGBD/freiburg2_pioneer_slam2
cam:  #intrinsic is different per scene in TUM
  H: 480 
  W: 640 
  fx: 520.9
  fy: 521.0
  cx: 325.1
  cy: 249.7
  crop_edge: 8
  crop_size: [384,512]
  distortion: [0.2312, -0.7849, -0.0033, -0.0001, 0.9172]
output_dimension_semantic: 500  
Segmenter:
  every_frame: 20
