dataset: 'tumrgbd'
coarse: False
grid_len:
  coarse: 2 
  middle: 0.16
  fine: 0.08
  color: 0.08
  bound_divisible: 0.32
tracking:
  vis_freq: 50
  vis_inside_freq: 25
  ignore_edge_W: 20
  ignore_edge_H: 20
  seperate_LR: True
  const_speed_assumption: True
  gt_camera: True
  lr: 0.01     
  pixels: 5000
  iters: 200 #200
Segmenter:
  full_slam: True
  mask_generator: False # always False -> delete later
  #store: False    #if use_store True then store and store_vis have no effect
  use_stored: False
  store_vis: False
  store_vis_freq: 50 # not implemented yet
  num_clusters: 5
  border: 15
  overlap: 0.4 # makes more stable
  relevant: 0.3
  merging_parameter: 7 # if it really is the same object, then it should not have any problems eating the other mask even if for 10 frames
  every_frame: 20
  verbose: True
  hit_percent: 0.4

rendering:
  semantic_occupancy_multiplier: 10
mapping:
  first_min_area: 1000
  use_vis: True
  every_frame: 10 #originally 1 but for testing set to 10
  vis_freq: 40
  vis_inside_freq: 100
  mesh_freq: 60
  ckpt_freq: 20
  keyframe_every: 50
  mapping_window_size: 10
  pixels: 5000
  iters_first: 300 #1500
  iters: 60 #60

cam:  #NOTE: intrinsic is different per scene in TUM
  H: 480 
  W: 640 
  fx: 517.3
  fy: 516.5
  cx: 318.6
  cy: 255.3
  png_depth_scale: 5000.0
  crop_edge: 0