#same as nice_slam.yaml, but with semantic segmentation
coarse: True
sync_method: 'strict'
scale: 1
verbose: True
occupancy: True
low_gpu_mem: True
output_dimension_semantic: 300 #this is a default value, it should be overwritten in the specific room config
grid_len:
  coarse: 2 
  middle: 0.32 
  fine: 0.16
  color: 0.16
  semantic: 0.16
  bound_divisible: 0.32
pretrained_decoders:
  coarse: 'pretrained/coarse.pt'
  middle_fine: 'pretrained/middle_fine.pt' # one ckpt contain both middle and fine
meshing:
  confidence_threshold: 0.4 #masks out instance predictions to 'white' if maximal softmax score is lower than this when rendering the mesh
  level_set: 0
  resolution: 512 # change to 512 for higher resolution geometry
  eval_rec: False
  clean_mesh: True
  depth_test: False
  mesh_coarse_level: False #original: False; corresponds to show_forecast in code -> colors regions predicted by coarse-mapper to cyan
  clean_mesh_bound_scale: 1.02
  get_largest_components: False
  color_mesh_extraction_method: 'direct_point_query'
  remove_small_geometry_threshold: 0.2
tracking:
  ignore_edge_W: 20
  ignore_edge_H: 20
  use_color_in_tracking: True
  device: "cuda:0"
  handle_dynamic: True
  vis_freq: 50
  vis_inside_freq: 25
  w_color_loss: 0.5
  seperate_LR: False
  const_speed_assumption: True
  no_vis_on_first_frame: True
  gt_camera: False
  lr: 0.001
  pixels: 200
  iters: 10
Segmenter:
  full_slam: True
  mask_generator: False # always False -> delete later
  #store: False    #if use_store True then store and store_vis have no effect
  use_stored: False
  store_vis: False
  store_vis_freq: 50 # not implemented yet
  num_clusters: 5
  border: 15
  overlap: 0.4 # makes more stable
  relevant: 0.3
  merging_parameter: 7 # if it really is the same object, then it should not have any problems eating the other mask even if for 10 frames
  every_frame: 10
  verbose: True
  hit_percent: 0.4
rendering:
  semantic_occupancy_multiplier: 10
mapping:
  max_frames: 2000
  use_mesh: True
  points_per_instance: 4
  vis_offset: 0
  use_vis: True #J: added, whether to use visualization in mapping
  device: "cuda:0"
  color_refine: True
  middle_iter_ratio: 0.4 #0.4
  fine_iter_ratio: 0.6 #0.6
  semantic_iter_ratio: 0.6 #0.4
  every_frame: 5
  BA: False
  BA_cam_lr: 0.001
  fix_fine: True
  fix_color: False
  no_vis_on_first_frame: True
  no_mesh_on_first_frame: True
  no_log_on_first_frame: True
  vis_freq: 50 #J: frequence of visualization in terms of frames; is true #frames/vis_freq times
  vis_inside_freq: 25 #J:frequence of visualization on a frame where we visualize; is true #iters/vis_inside_freq times 
  mesh_freq: 50
  ckpt_freq: 500
  keyframe_every: 50
  mapping_window_size: 5
  w_color_loss: 0.2
  w_semantic_loss: 10
  frustum_feature_selection: True
  keyframe_selection_method: 'overlap'
  save_selected_keyframes_info: False
  lr_first_factor: 5
  lr_factor: 1
  pixels: 1000
  iters_first: 3 #J: num_joint_iters in Mapper on optimize_map on first iteration 1500
  iters: 3 #J: num_joint_iters in Mapper on optimize_map on all but first iteration 60
  stage:
    coarse:
      decoders_lr: 0.0
      coarse_lr: 0.001
      middle_lr: 0.0
      fine_lr: 0.0
      color_lr: 0.0
      semantic_lr: 0.0
    middle:
      decoders_lr: 0.0
      coarse_lr: 0.0
      middle_lr: 0.1
      fine_lr: 0.0
      color_lr: 0.0
      semantic_lr: 0.0
    fine:
      decoders_lr: 0.0
      coarse_lr: 0.0
      middle_lr: 0.005
      fine_lr: 0.005
      color_lr: 0.0
      semantic_lr: 0.0
    color:
      decoders_lr: 0.005
      coarse_lr: 0.0
      middle_lr: 0.005
      fine_lr: 0.005
      color_lr: 0.005
      semantic_lr: 0.0
    semantic: 
      decoders_lr: 00
      coarse_lr: 0.0
      middle_lr: 0.00
      fine_lr: 0.
      color_lr: 0.0
      semantic_lr: 0.4 #original: 0.005

cam:
  H: 680
  W: 1200
  fx: 600.0
  fy: 600.0
  cx: 599.5
  cy: 339.5
  png_depth_scale: 6553.5 #for depth image in png format
  crop_edge: 0
rendering:
  N_samples: 32
  N_surface: 16
  N_importance: 0
  lindisp: False
  perturb: 0.0
data:
  dim: 3
model:
  hidden_size: 32
  c_dim: 32
  coarse_bound_enlarge: 2
  pos_embedding_method: 'fourier'

